<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794623859847-d5ehqs2uhnlht2e12l1gpqk352rchvv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794623859847-d5ehqs2uhnlht2e12l1gpqk352rchvv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDrtyQ_YomQOeTZ736phU__hy2NuK1aX_s</string>
	<key>GCM_SENDER_ID</key>
	<string>794623859847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.louiscgf.DissertationProject2023</string>
	<key>PROJECT_ID</key>
	<string>dissertationproject2023-5d9c9</string>
	<key>STORAGE_BUCKET</key>
	<string>dissertationproject2023-5d9c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794623859847:ios:d3abd327dae4703b61ac22</string>
	<key>DATABASE_URL</key>
	<string>https://dissertationproject2023-5d9c9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>